<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="#/home">SoftBay</a>
        <a class="navbar-item" href="#/dashboard">Dashboard</a>
        <a class="navbar-item" href="#/createOffer">Create Offer</a>
        <!--BONUS (NOT REQUIRED)--><a class="navbar-item" href="">Profile</a>
        <!--BONUS (NOT REQUIRED)-->
        <a class="navbar-item" href="">Logout</a>
        <a class="btn btn-warning" href="#/login">Login</a>
    </div>
</nav>
<section id="notifications">
    <div class="p-3 mb-2 bg-success w-50 text-white text-center" id="successNotification">Success</div>
    <div class="p-3 mb-2 bg-danger w-50 text-white text-center" id="errorNotification">Error</div>
    <div class="p-3 mb-2 bg-info w-50 text-white text-center" id="loadingNotification">Loading...</div>
</section>