<!-- header -->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="#/homePage">SoftBay</a>
        <a class="navbar-item" href="">Dashboard</a>
        <a class="navbar-item" href="">Create Offer</a>
        <!--BONUS (NOT REQUIRED)--><a class="navbar-item" href="">Profile</a>
        <!--BONUS (NOT REQUIRED)-->
        <a class="navbar-item" href="">Logout</a>
        <a class="btn btn-warning" href="">Login</a>
    </div>
</nav>
<!-- ./header -->